@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This here is a <a href="https://www.youtube.com/watch?v=5qap5aO4i9A&ab_channel=ChilledCow">nice lowfi study playlist</a>.</p>
</div>
